<div class="main">
  <div *ngFor="let blog of blogList" class="blog-container">
    <div class="blog-header">
      <h1 class="blog-title">{{ blog.title }}</h1>
      <div class="blog-meta">
        <span class="author">By {{ blog.authorname }}</span> |
        <span class="date">{{ blog.createdAt }}</span> |
        <span class="category">Category: {{ blog.category }}</span>
      </div>
    </div>
    <div class="blog-content">
      <p>
        {{ blog.content }}
      </p>
    </div>
    <div class="blog-tags">
      <span class="tags-title">Tags: </span>
      <ul *ngFor="let tags of blog.tags" class="tags-list">
        <li class="tag-item">{{ tags }}</li>
      </ul>
    </div>
  </div>
</div>
